package app

func (a application) Run() error {
	a.logger.Info("app is running...")

	// Do Stuff Here

{{- if eq .add_gin "Yes" }}
	return a.server.Run()
{{- else }}
	return nil
{{- end }}
}

func Run() error {
	application, err := initApp()
	if err != nil {
		return err
	}

	return application.Run()
}
