package app

import (
	"{{ .module_name }}/internal/config"
	"{{ .module_name }}/internal/logger"
{{- if eq .add_gin "Yes" }}
	"{{ .module_name }}/internal/server"
{{- end }}
)

type application struct {
	config *config.Config
	logger *logger.Logger
{{- if eq .add_gin "Yes" }}
	server *server.Server
{{- end }}
}

func New(config *config.Config, logger *logger.Logger
{{- if eq .add_gin "Yes" -}}
, server *server.Server
{{- end -}}
) *application {
	return &application{
		config: config,
		logger: logger,
{{- if eq .add_gin "Yes" }}
		server: server,
{{- end }}
	}
}
