//go:build wireinject
// +build wireinject

package app

import (
	"github.com/google/wire"

	"{{ .module_name }}/internal/config"
	"{{ .module_name }}/internal/logger"
{{- if eq .add_gin "Yes" }}
	"github.com/cqroot/go-template/internal/middleware"
	"github.com/cqroot/go-template/internal/server"
{{- end }}
)

func initApp() (*application, error) {
	wire.Build(
		New,
		config.New,
		logger.New,
{{- if eq .add_gin "Yes" }}
		server.New,
		middleware.New,
{{- end }}
	)
	return &application{}, nil
}
